.friends-container {
  height: 100%;
  //position: relative;

  .map-mini {
    height: 50%;
    position: absolute;
    top: 0;
    width: auto;
    margin: 0 auto;
    z-index: 0;
    border: none;
  }

  .bottom-gradient {
    height: 50%;
    width: 100%;
    position: absolute;
    border: none;
    z-index: -1;
    bottom: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,35,55,1) 48%, rgba(201,246,255,1) 100%);
  }
}

.friends-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30em;
  height: 35em;
  background: white;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  transform: translateX(-50%);
  left: 50%;
  top: 15%;
  margin-bottom: 100px;
  padding-top: 40px;
  z-index: 1;
  color: white;
  border: none;
}



.img-bx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  transform: translateY(15px) scale(0.6);
  transform-origin: top;
}

.avatar-very-large {
  height: 65%;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.detail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  gap: 4px;
}

.content .detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: black;
}

.content .detail h2 {
  font-size: 1.6em;
  font-weight: bolder;
}

.content .detail p {
  font-size: 1em;
  font-weight: lighter;
  color: black
}

.content .detail h2 span {
  font-size: 0.7em;
  color: black;
  font-weight: bold;
}

.description {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}



.button-show {
  margin-bottom: 10px;
}
// .container {
//   margin: 0px;
//   padding: 0px;
// }
// .img-container {
//   padding: 50px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin: auto;

//   p {
//     font-size: 18px;
//   }

// }
// .img-container img {
//   // display: flex;
//   // justify-content: flex-end;
//   width: 300px;
//   height: 300px;
//   border-radius: 50%;
//   object-fit: cover;
// }


// .friends-index-map {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: -1;
// }
