
.friends-container {
  height: 100%;
  // background: linear-gradient($dark-blue, $dark-blue 45%, #fff 45%, #fff 100%);
  position: relative;


  .map-mini {
    height: 50%;
    position: absolute;
    top: 0;
    width: auto;
    margin: 0 auto;
    z-index: 0;
  }
}




.friends-card {
  position: relative;
  display: flex;
  justify-content: center;
  width: 300px;
  height: 500px;
  background: white;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  transform: translateX(-50%);
  left: 50%;
  top: 19%;
  margin-bottom: 100px;
  z-index: 1;
}


.img-bx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  transform: translateY(15px) scale(0.6);
  transform-origin: top;
}

.img-bx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.content .detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: black;
}

.content .detail h2 {
  font-size: 1.6em;
  font-weight: bolder;
}

.content .detail p {
  font-size: 1em;
  font-weight: lighter;
  color: black
}

.content .detail h2 span {
  font-size: 0.7em;
  color: black;
  font-weight: bold;
}

.description {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}



.button-show {
  margin-bottom: 10px;
}
// .container {
//   margin: 0px;
//   padding: 0px;
// }
// .img-container {
//   padding: 50px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin: auto;

//   p {
//     font-size: 18px;
//   }

// }
// .img-container img {
//   // display: flex;
//   // justify-content: flex-end;
//   width: 300px;
//   height: 300px;
//   border-radius: 50%;
//   object-fit: cover;
// }


// .friends-index-map {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: -1;
// }
