<div class="container">
  <div class="title">
    <h1>All Friends</h1>
  </div>

  <div class="container">
    <ul>
      <% @friends.each do |friend| %>
        <li><%= link_to friend.name, friend_path(friend) %> </li>
      <% end %>
    </ul>
  </div>

  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  
<%= link_to "Become a Friend!",  new_friend_path, class: "btn btn-primary" %>
</div>
