<div class="container">
  <div class="title">
    <h1>All Friends</h1>
  </div>

  <div class="container">
    <ul>
      <% @friends.each do |friend| %>
        <li><%= link_to friend.name, friend_path(friend) %> </li>
      <% end %>
    </ul>
  </div>
<%= link_to "Become a Friend!",  new_friend_path, class: "btn btn-primary" %>
</div>
