<div class="class">
<h1>All Friends</h1>

  <ul>
    <% @friends.each do |friend| %>
      <li><%= link_to friend.name, friend_path(friend) %> </li>
    <% end %>
  </ul>
<%= link_to "Become a Friend!",  new_friend_path, class: "btn btn-primary" %>
</div>
