
<div class="w-50">
  <h1><%= @friend.name %></h1>

  <p>Hello everyone! This is our friend <%= @friend.name %>!
  <%= @friend.name %> is a really fun person.
  <%= @friend.name %> would love to get to know you and hang out sometime!</p>
</div>
