.navbar-custom {
  display: flex;
  justify-content: space-between;
  background: $dark-blue;
  color: white;
  padding: 0.5em;
  padding-right: 1em;
  z-index: 5;
}

.navbar-group {
  display: flex;
  align-items: center;
  gap: 1em;
}

.navbar-logo {
  width: 60px;
  border-radius: 50%;
}
