.navbar-custom {
  display: flex;
  justify-content: space-between;
  background: $dark-blue;
  color: white;

  img {
    width: 50px;
    height: 50px;
  }
}

.navbar-group {
  display: flex;
  align-items: center;
  gap: 8px;
}
